# ==================
# hugoalh's Repository Resource - NPM Configuration
#   Language:
#     Git-Configuration
#   Last Update:
#     2020-07-25
# ==================
access=public
git-tag-version=false
